
/* style my card */
.card {
    box-shadow: 0 4px 8px 0 rgba(19, 7, 59, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Trirong", serif;
    background-color: #f68787;
    opacity: 0.6;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 19.75%;
    font-size: 18px;
  }
  

  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /* End of card styles */


 body {
    margin: 0;
    padding: 0;
    background: radial-gradient(ellipse farthest-corner at center top, #f39264 35%, #f2606f 100%);
    font-family: "Trirong", serif;
   
}


#inputProfile span {
    color: white;
}


h1 {
    font-size: 35px; 
}

li {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;  
  }


/* 
   it styles the nav bar and drop down menu */ 
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }